<div class="menu-container">
  <h1>Tracker Menu</h1>

  <div class="menu-buttons">
    <a routerLink="/lifepoint-tracker" class="menu-button">Lifepoint Tracker</a>
    <a routerLink="/type-tracker" class="menu-button" title="Useful for Lhurgoyfs">Type Tracker</a>
  </div>

  <div class="menu-links">
    <a href="https://archidekt.com" target="_blank" class="menu-link">Archidekt</a>
    <a href="https://moxfield.com" target="_blank" class="menu-link">Moxfield</a>
    <a href="https://scryfall.com" target="_blank" class="menu-link">Scryfall</a>
    <a href="https://www.commandersalt.com" target="_blank" class="menu-link">Commander Salt</a>
  </div>
</div>
